apiVersion: apps/v1
kind: Deployment
metadata:
  name: employee-service
  namespace: emp-platform
  labels:
    app: employee-service
spec:
  replicas: 2
  selector:
    matchLabels:
      app: employee-service
  template:
    metadata:
      labels:
        app: employee-service
      annotations:
        prometheus.io/scrape: "true"
        prometheus.io/port: "8081"
        prometheus.io/path: "/actuator/prometheus"
    spec:
      containers:
      - name: employee-service
        image: YOUR_ECR_URI/employee-service:latest
        ports:
        - containerPort: 8081
        env:
        - name: DB_URL
          value: "jdbc:postgresql://postgres-emp:5432/employeedb"
        envFrom:
        - configMapRef:
            name: emp-config
        - secretRef:
            name: emp-secrets
        resources:
          requests:
            memory: "256Mi"
            cpu: "250m"
          limits:
            memory: "512Mi"
            cpu: "500m"
        livenessProbe:
          httpGet:
            path: /actuator/health
            port: 8081
          initialDelaySeconds: 60
          periodSeconds: 30
        readinessProbe:
          httpGet:
            path: /actuator/health
            port: 8081
          initialDelaySeconds: 30
          periodSeconds: 10
---
apiVersion: v1
kind: Service
metadata:
  name: employee-service
  namespace: emp-platform
spec:
  selector:
    app: employee-service
  ports:
  - port: 8081
    targetPort: 8081
  type: ClusterIP
